@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LIGHT GARDEN</h1>
    <p>Learn about <a href="https://bluearchive.nexon.com/Home">Fanpage</a>.</p>
</div>
